
.tabs {
    display: flex;
    flex-direction: column;
  }
  
  .tab {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .tab.active {
    background-color: blue;
  }
  


